@media(max-width: 880px){
#corpo #bemvindo{
display: block;
}

@media(max-width: 865px){
} #form{
 background-image: none;
 }

 @media(max-width: 670px){
} #corpo #beneficios #itens{
 display: block;
 }

 @media(max-width: 670px){
} #corpo #beneficios #flex{
 display: block;
 }

@media (max-width: 475px){}

@media(max-width: 670px){
} #corpo #benner h1{
font-size: 100%;
align-items: center;
justify-self: center;
}
@media(max-width: 670px){
} #corpo #benner h1{
align-items: center;
justify-self: center;
}
}
